.partidos-proximos {
    grid-area: item_8;
    min-height: 270px;
}

.partidos-proximos-featured {
    background-color: #fff;
    position: relative;
    width: 100%;
}

.partidos-proximos-featured-title {
    right: 0;
    align-items: center;
    background-color: #8796aa;
    color: #fff;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    height: 24px;
    justify-content: center;
    padding: 0 4px;
    position: absolute;
    top: 0;
    z-index: 10;
}

.carrousel-partidos-proximos,
.carrousel1 {
    height: inherit;
    width: 100%;
    direction: ltr;
    position: relative;
}

.carrousel1 {
    overflow: hidden;
}

.carousel-item,
.carousel-item1 {
    background-color: #fff;
    flex: 1 0 100%;
    flex-basis: 100%;
    height: auto;
    min-height: 56px;
    width: inherit;
}

.carousel-item1-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 270px;
    position: relative;
    width: 100%;
}

.carousel-fecha-restante {
    align-self: center;
    color: #505050;
    text-decoration: none;
}

.carousel-fecha-restante-arriba {
    top: 5px;
    position: relative;
    font-weight: 500;
}

.carousel-fecha-restante-arriba img {
    position: relative;
    top: 8px;
}

.quiengana {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    font-size: 28px;
    font-weight: 500;
}

.nada {
    height: 14px;
    width: 100%;
}

.fecha {
    align-self: center;
    color: #505050;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    justify-content: center;
    margin-top: 8px;
    text-align: center;
    width: 80%;
    left: 5px;
    position: relative;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin bordes */
    border-radius: 50%; /* Bordes redondeados en forma de círculo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
    right: 5px; /* Ajustar según sea necesario */
}

.prev {
    left: 5px; /* Ajustar según sea necesario */
}

.prev:hover,
.next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro al pasar el ratón */
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5); /* Sombra en forma de media luna */
}
.prediction-results {
    margin-top: 20px;
    text-align: center;
    width: 80%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin: 0 auto; /* Centrar el contenedor */
}

.prediction-results.visible {
    opacity: 1;
}

.prediction-bar {
    display: flex;
    height: 30px;
    background-color: #ddd;
    border-radius: 15px;
    overflow: hidden;
    width: 100%; /* Asegurarse de que ocupe el 100% del contenedor */
}

.prediction-bar-segment {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
}

.prediction-bar-segment.home {
    background-color: #7f97ab;
}

.prediction-bar-segment.draw {
    background-color: #9b9b9b;
}

.prediction-bar-segment.away {
    background-color: #c7d0d8;
}

.prediction-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.prediction-labels span {
    flex: 1;
    text-align: center;
}

/* Additional styles for team names and buttons */
.carousel-item1-item-equipo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    position: relative;
    height: 82px;
    gap: 10px; /* Espacio entre los botones */
    transition: opacity 0.5s ease-in-out;
}

.carousel-item1-item-equipo.hidden {
    opacity: 0;
}

.carousel-item1-item-equipo-vs {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 30px;
    height: 56px;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.carousel-item1-item-equipo-home-nombre,
.carousel-item1-item-equipo-away-nombre {
    text-align: left;
    clip-path: polygon(0 0, 100% 0, calc(100% - 18px) 100%, 0 100%);
    align-items: center;
    height: 60px;
    font-size: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05));
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.carousel-item1-item-equipo-home-nombre {
    padding-left: 5px;
}

.carousel-item1-item-equipo-away-nombre {
    padding-right: 5px;
}

.carousel-item1-item-equipo-home-nombre-text,
.carousel-item1-item-equipo-away-nombre-text {
    padding: 2px;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.carousel-item1-item-equipo-home-nombre-text {
    margin-top: 15px;
    position: relative;
    left: 20px;
    margin-right: 5px;
}

.carousel-item1-item-equipo-away-nombre-text {
    margin-top: 17px;
    text-align: right;
    position: relative;
    right: 30px;
    margin-left: 5px;
}

.carousel-item1-item-equipo-home,
.carousel-item1-item-equipo-away {
    align-items: center;
    display: flex;
    width: 36vh;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.carousel-item1-item-equipo-away-img {
    right: -30px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .2));  
    position: absolute;
    z-index: 1;
}

.carousel-item1-item-equipos {
    margin: 0 80px;
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    height: 56px;
    position: relative;
    width: 90%; /* Ajuste del ancho para hacer los rectángulos más largos */
}

.carousel-fecha-restante-contador {
    font-size: 32px;
    height: 50px;
    min-width: 164px;
    white-space: nowrap;
}

.carousel-item1-item-title {
    align-items: center;
    color: #505050;
    display: grid;
    font-size: 16px;
    font-weight: 500;
    grid-template-columns: 36px auto auto;
    height: 20px;
    justify-content: center;
    padding: 16px 0 8px;
    width: 100%;
}

.foto {
    height: 40px;
    width: 40px;
    position: relative;
    left: 76px;
    top: -10px;
}

.prediction-buttons-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Asigna espacio igual para los botones de equipo local y visitante */
    gap: 10px; /* Espacio entre los botones */
    width: 84%;
    transition: opacity 0.5s ease-in-out;
}

.prediction-button {
    padding: 7px 20px;
    border: 2px solid #505050;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #505050;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.prediction-button:hover {
    background-color: #505050;
    color: #fff;
}

.prediction-button.home-team {
    background-color: #7f97ab;
}

.prediction-button.draw {
    background-color: #c2c2c2;
}

.prediction-button.away-team {
    background-color: #c7d0d8;
}

.prediction-button.home-team:hover,
.prediction-button.draw:hover,
.prediction-button.away-team:hover {
    background-color: #505050;
    color: #fff;
}