.main-top {
    background-color: #fff;
    box-shadow: 0 2px 4px -2px #0003;
    box-sizing: border-box;
    display: none;
    height: 96px;
    width: 100%;
}

.main-mid {
    display: grid;
    justify-items: center;
    margin: 24px 0;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 500;
}

.main-down {
    display: flex;
    justify-content: center;
    margin: 0 56px;
    min-height: 100vh;
}

.main-down-left {
    min-width: 480px;
    width: 480px;
}

.main-down-right {
    margin: 0 0 0 16px;
    height: 100%;
    width: 100%;
    max-width: 728px;
    min-height: 100vh;
    min-width: 592px;
}

@media (max-width: 768px) {
    .main-down {
        flex-direction: column;
        margin: 0;
    }

    .main-down-left {
        order: 2;
        width: 100%;
        min-width: unset;
    }

    .main-down-right {
        order: 1;
        margin: 0;
        width: 100%;
        max-width: unset;
        min-width: unset;
    }
}
