<app-header-landing></app-header-landing>

<div class="main-container">
  <div class="landing-container">
    <div class="hero-content">
      <h1 class="hero-title">Bienvenido a <span>Quick Stats</span></h1>
      <p class="hero-subtitle">Web para ver marcadores y algunas estadísticas en directo de todos tus deportes favoritos.</p>
      <button routerLink="/football" class="cta-button">Ir a inicio</button>
    </div>
    <img src="../../../assets/images/landing.png" alt="App preview" class="hero-image">
  </div>
</div>
