* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #b3e5fc, #e1f5fe);
    font-family: 'Söhne', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'Helvetica Neue', 'Arial', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  header {
    width: 100%;
    height: 102px;
    background-color: #ffffff; /* Color de fondo del header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .navbar {
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #0062E6;
  }
  
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 102px); /* Para considerar la altura del header */
  }
  
  .landing-container {
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    overflow: hidden;
    position: relative;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-title {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .hero-title span {
    color: #0288d1;
  }
  
  .hero-subtitle {
    font-size: 24px;
    color: #666;
    margin-bottom: 40px;
  }
  
  .cta-button {
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: #0288d1;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .cta-button:hover {
    background-color: #0277bd;
    transform: translateY(-2px);
  }
  
  .hero-image {
    position: absolute;
    right: -50%;
    bottom: 0;
    width: 50%;
    height: auto;
    animation: slideInFromRight 2s forwards, fadeIn 2s forwards;
  }
  
  @keyframes slideInFromRight {
    from {
      right: -50%;
    }
    to {
      right: 0;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  