<div class="modal" *ngIf="visible">
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <div *ngIf="game">
      <div class="modal-header">
        <img [src]="game.league.logo" alt="{{ game.league.name }}" class="league-logo">
        <div class="match-info">
          <h2>{{ game.league.name }}</h2>
          <p>{{ game.date | date: 'fullDate':'':'es' }}</p>
          <p>{{ translateStatus(game.status.long) }}</p>
        </div>
        <div class="teams-score">
          <div class="team">
            <img [src]="game.teams.home.logo" alt="{{ game.teams.home.name }}" class="team-logo">
            <p>{{ game.teams.home.name }}</p>
          </div>
          <div class="score">
            <h2>{{ getCurrentScore() }}</h2>
          </div>
          <div class="team">
            <img [src]="game.teams.away.logo" alt="{{ game.teams.away.name }}" class="team-logo">
            <p>{{ game.teams.away.name }}</p>
          </div>
        </div>
      </div>
      <div class="match-details">
        <div class="details">
          <h3>Detalles del Partido</h3>
          <div class="details-grid">
            <div><img src="assets/images/calendario.png" alt="Fecha" class="icon">  {{ game.date | date: 'short' }}</div>
            <div><img src="assets/images/procedimiento.png" alt="Estado" class="icon">  {{ translateStatus(game.status.long) }}</div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
